<form action="/summary" method="post">

<h2>Customer Details</h2>

<input name="fullName" placeholder="Full Name" required>
<input name="nric" placeholder="NRIC" required>
<input name="mobile" placeholder="Mobile" required>
<input name="email" placeholder="Email" required>

<!-- PASS PREVIOUS DATA -->

<input type="hidden" name="coverage" th:value="${coverage}">
<input type="hidden" name="area" th:value="${area}">
<input type="hidden" name="plan" th:value="${plan}">
<input type="hidden" name="startDate" th:value="${startDate}">
<input type="hidden" name="endDate" th:value="${endDate}">

<button type="submit">Next</button>

</form>