<form action="/summary" method="post" th:object="${request}">

<h2>Customer Details</h2>

<label>Full Name</label>
<input type="text" th:field="*{fullName}" placeholder="Full Name"/>

<label>NRIC</label>
<input type="text" th:field="*{nric}" placeholder="NRIC"/>

<label>Phone</label>
<input type="text" th:field="*{mobile}" placeholder="Mobile"/>

<label>Email</label>
<input type="text" th:field="*{email}" placeholder="Email"/>

<label>Address Line 1</label>
<input type="text" th:field="*{addressLine1}" placeholder="AddressLine1"/>

<label>Address Line 2</label>
<input type="text" th:field="*{addressLine2}" placeholder="AddressLine2"/>

<input type="hidden" th:field="*{coverage}">
<input type="hidden" th:field="*{area}">
<input type="hidden" th:field="*{plan}">
<input type="hidden" th:field="*{startDate}">
<input type="hidden" th:field="*{endDate}">

<button type="submit">Next</button>

</form>